@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  scroll-behavior: smooth;
    overflow-x: hidden;

}

/* style the default navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  @apply w-10 h-10 rounded-full bg-blue-900 text-white flex items-center justify-center shadow-md hover:bg-blue-700 transition;
}

/* style the arrow icons themselves */
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-lg font-bold;
}





