@import "tailwindcss";


@layer base {
  .font-body {
    font-family: 'system-ui', sans-serif !important;
  }

  .font-heading {
    font-family: 'Bakbak One', sans-serif !important;
  }

  .font-hero {
    font-family: 'Audiowide', cursive !important;
  }

  .font-quote {
    font-family: 'Pacifico', serif !important;
  }
}



:root {
  /* no font-family here */
  line-height: 1.5;
  font-weight: 400;
  
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

}




html {
  scroll-behavior: smooth;
    overflow-x: hidden;

}

/* style the default navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  @apply w-10 h-10 rounded-full bg-blue-900 text-white flex items-center justify-center shadow-md hover:bg-blue-700 transition;
}

/* style the arrow icons themselves */
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-lg font-bold;
}





